/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
	;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2, .log-section h1{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

a:hover {
	color: #B1663C;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #000;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

/********************************* filtre *******************************/

.filter {
	margin: 3rem 0;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.filter-btn {
	min-width: 100px;
	height: 37px;
	border-radius: 60px;
	border: solid 1px #1D6154;
	color: #1D6154;
	background-color: white;
	font-weight: 700;
	cursor: pointer;
}

.active-filter-btn {
	background-color: #1D6154;
	color: white;
}

.hidden {
	display: none;
}

/********************* contact *************************/

#contact, .log-section {
	width: 50%;
	margin: auto;
}

#contact > *, .log-section > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
	margin-bottom: 3rem;
}

input, select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-size: 14px;
	font-weight: 400;
	color: #444444;
	padding: 0 1rem;
}

input:focus, select:focus {
	outline: none;
}

label {
	margin: 2em 0 1em 0;
	text-align: start;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact input[type="submit"], .modal-gallery-photo input[type="submit"], .log-form input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}

.log-section p {
	text-decoration: underline;
	cursor: pointer;
}

footer {
	background-color: white;
	
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/************************************ edit mode *******************************/

.mode-edition-bar {
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 59px;
	gap: 0.5rem;
	
}

.mode-edition-bar img {
	width: 15px;
	height: 15px;
}

.mode-edition-bar p {
	color: white;
}

/* titre portfolio mode édition */

.mes-projets-title {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin: 4rem 0;
}

.mes-projets-title h2 {
	margin-bottom: 0 !important; 
}

.mes-projets-title a {
	display: flex;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.mes-projets-title a img {
	margin-right: 0.5rem;
}

/* modale */

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	align-items: center;
	justify-content: center;
	display: none;
}



.modal-wrapper {
	background-color: white;
	width: 630px;
	padding: 1rem;
	border-radius: 10px;
	
}

.modal-navbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.modal-navbar img {
	width: 12px;
	height: 12px;
	cursor: pointer;
}


.modal-wrapper section {
	margin: 1rem;

}



.modal-wrapper input[type="submit"] {
	margin: 1rem 0 0 0;
	height: 36px;
}

.modal-wrapper h2 {
	color: #000;
	font-family: Work Sans;
	font-weight: 400;
}

/* première vue */

.modal-gallery-photo {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 3rem;
}

.modal-gallery-photo hr {
	width: 100%;
	margin-top: 1rem;
}

.gallery-photo-section {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.gallery-photo-section div {
	display: flex;
}

.image-to-delete {
	width: 75px;
	height: 100px;
	margin-top: 1rem;
}

.delete-image-btn {
	z-index: 2;
	background-color: #000;
	height: 17px;
	width: 17px;
	border: none;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	right: 1.3rem;
	top: 1.3rem;

}

/* seconde vue */

.modal-add-photo {
	display: none;
	flex-direction: column;
	align-items: center;
}

.modal-add-photo form {
	width: 80%;
	margin-bottom: 0;
}

.modal-add-photo hr {
	width: 100%;
}

.back-modal-btn {
	visibility: hidden;
}

.file-input {
	display: none;
}

.preview-section, .preview-section-after {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #E8F1F6;
	padding: 1rem;
	
}

.preview-section p {
	font-size: 10px;
}

.preview-section-after {
	display: none;
	padding: 0;
}

.img-preview-icon {
	width: 68px;
	height: 60px;
}

label[for="file-input"] {
	background: #CBD6DC;
	height: 36px;
	width: 173px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color:#306685;
	font-weight: 500;
	cursor: pointer;
}

.submit-section {
	width: 100%;
	display: flex;
	justify-content: center;
}

.submit-add-photo-btn {
	background-color: #A7A7A7;
	cursor: default;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}


.preview-image {
	width: 130px;
	height: 100%;
}